.button-at-bottom-of-article {
    background-color: #0af;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 50px;
}

// @media only screen and (min-width: 980px) {
//     .article-page {
//         width: 600px;
//     }

//     .button-at-bottom-of-article {
//         font-size: 20px;
//         height: 55px;
//         margin-top: 90px;
//         width: 170px;
//     }
// }