.current-level-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.current-level {
    font-size: 24px;
    font-weight: 500;
}

.level-exp-bar {
    width: 100%;

    .level-exp-bar-container {
        background-color: rgb(224, 224, 222); 
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        border-radius: 50px; 
        height: 20px; 
        width: 100%;
    }

    .barCompleted {
        background-color: yellow;
        width: 80%;
    }

    .exp-gained-portion-of-bar {
        align-items: center;
        background-color: #0090ff; 
        border-radius: inherit; 
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
        display: flex;
        height: 20px; 
        justify-content: flex-end;
        transition: width 1s ease-in-out 0s;   
    }
}

.current-level-description  {
    height: 60px;
}

.current-level-username {
    font-size: 26px;
    font-weight: 600;
}

@media only screen and (min-width: 565px) {
    .current-level-container {
        width: 450px;
    }
}

@media only screen and (min-width: 780px) {

    .current-level-container {
        width: 495px;
    }

    .current-level-description  {
        height: 80px;
        margin-bottom: 6px;
    }

    .current-level-username {
        font-size: 38px;
        font-weight: 600;
    }

    .exp-to-next-level-text {
        font-size: 20px;
    }
    
}