.keyboard-tips-modal-close-icon {
    $size: 22px;
    cursor: pointer;
    height: $size;
    margin-left: 90%;
    width: $size;
}

.keyboard-tips-list {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: left;
    width: 250px;
}