.vocabulary-results-container {
    margin: 0 auto;
    width: 90%;
}

.dictionary-page-input {
    border: 1px solid gray;
    border-radius: 10px;
    color: var(--dark-gray);
    font-size: 20px;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 10px;
    width: 90%;
}

.kanji-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.dictionary-header {
    font-size: 20px;
    text-align: left;
}

.word-user-is-searching-for {
    font-weight: 500;
}

.dictionary-vocab-kanji-selector-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 250px;

    button {
        align-items: center;
        border-radius: 8px;
        display: flex;
        flex: .48;
        font-size: 18px;
        font-weight: 500;
        height: 40px;
        justify-content: center;
    }
}

.dictionary-vocab-selector-selected {
    background-color: var(--med-blue);
    color: white;
}

.dictionary-vocab-selector-not-selected {
    color: var(--dark-gray);    
}

.dictionary-vocab-selector-not-selected:hover {
    color: white;
    background-color: var(--med-blue);
    opacity: .6;
}

.dictionary-kanji-selector-selected {
    background-color: var(--light-green);
    color: white;
}

.dictionary-kanji-selector-not-selected {
    color: var(--dark-gray);
}

.dictionary-kanji-selector-not-selected:hover {
    color: white;
    background-color: var(--light-green);
    opacity: .6;
}

.dictionary-nothing-found {
    font-size: 22px;
    margin-top: 100px;
}

@media only screen and (min-width: 700px) {
    .vocabulary-results-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .dictionary-page-input {
        margin-bottom: 10px;
    }
    
    .dictionary-results-container-large-screen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .vocabulary-results-container {
        flex: .65;
        width: auto;
    }

    .kanji-results-container {
        display: block;
        flex: .25;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .dictionary-vocab-kanji-selector-container {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .dictionary-page-container {
        width: 800px;
    }
}

@media only screen and (min-width: 1350px) {
    .dictionary-page-container-logged-out {
        margin: 0 auto;
    }
}

// @media only screen and (min-width: 1400px) {
//     .dictionary-page-container {
//         width: 900px;
//     }
// }