.articles-icon-container {
    align-items: center;
    display: flex;
}

.articles-link {
    margin-bottom: 0;
}

.articles-icon {
    color: rgb(145, 81, 214);
    height: 100%;
    width: 100%;
    // height: 42px;
    width: 36px;
}
