.pfp-container {
    align-items: center;
    background-color: #00AAFF;
    color: white;
    display: flex;
    font-weight: 400;
    justify-content: center;
    position: relative;
}

.profile-pic-container {
    display: flex;
}

.profile-pic-username-and-level-container {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.profile-pic {
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

// .level-exp-bar-container {
//     // background-color: gray;
//     height: 20px;
//     width: 80px;
// }

// .exp-gained-portion-of-bar {
//     color: green;
// }