.printable-sheet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 20px;
    font-size: 50px;
    text-align: center;
  }
  
  .printable-row:nth-child(5n+1) .printable-cell {
    border-top: 2px solid black;
  }
  
  .printable-cell:nth-child(5n+1) {
    border-left: 2px solid black;
  }
  
  .printable-cell {
    border: 1px solid black;
  }

.writing-sheets-input {
    width: 280px;
}

.writing-sheets-printout-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}