@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #F9C210;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-blue-300;
}

.logo-text {
  color: black;
  font-family: Comic Sans MS;
  font-size: 25px;
  font-weight: bold;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
