.article-container {
    p {
        text-align: left;
    }

    h3 {
        text-decoration: underline;
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    th {
        text-align: left;
        width: 120px;
    }

    rt {
        font-size: 15px;
    }

    td {
        padding: 8px 0;
        text-align: left;
    }

}