@use 'sass:math';

.tooltip-container {
    position: absolute;
    transform: translateX(-100%) translateX(40px);
    z-index: 1;
}

$tooltip-triangle-dimensions: 14px;
$tooltip-border-width: .5px;
.tooltip-triangle {
    box-sizing: border-box;
    position: absolute;
    background-color: #c7d1d3;
    // border: $tooltip-border-width solid #c7d1d3;
    border-left: $tooltip-border-width solid #aaaaaa;
    border-top: $tooltip-border-width solid #aaaaaa;
    border-radius: 2px;
    content: "";
    height: $tooltip-triangle-dimensions;
    left: 50%;
    transform: translateZ(0) rotate(45deg);
    transform-origin: top left;
    width: $tooltip-triangle-dimensions;
    left: calc(100% + -20px);
}

$tooltip-contents-padding: 8px;
.tooltip-contents {
    background-color: #c7d1d3;
    border: .5px solid #aaaaaa;
    border-radius: 3px;
    margin-top: math.div($tooltip-triangle-dimensions + $tooltip-border-width + 5, 2) or calc(($tooltip-triangle-dimensions + $tooltip-border-width + 5) / 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: $tooltip-contents-padding;
    padding-right: $tooltip-contents-padding;
    // padding-bottom: 10px;
}
