.immersion-level-progress-bar-container {
    width: 100%;
}

.immersion-level-progress-bar {
    background-color: #0090ff;
}

.what-percent-is-in-japanese {
    margin-top: 18px;
    text-align: left;
}